body {
    background-color: rgb(113, 155, 222);
}

h1 {
    color: rgb(241, 246, 255);
    text-align: center;
    font-family: cursive;
}

h3 {
    color: rgb(241, 246, 255);
    text-align: center;
    font-family: cursive;
}

pre {
    color: rgb(241, 246, 255);
    font-family: cursive;
}